/Taller11/nbproject/private/
/Ejecutor001/nbproject/private/
/Ejecutor001/build/
/Ejecutor001/dist/
/Taller10/nbproject/private/
/Problema1/nbproject/private/
/Problematica_1/nbproject/private/
/Problematica_1/build/
/Problematica_2/nbproject/private/
/Problematica_2/build/
/Problematica_2/dist/
/Problematica_1/dist/
